body {
  font-family: Inter, system-ui-apple-system, "Segoe UI", Roboto, Ubuntu, "Segoe UI", Tahoma;
  margin: 0;
  padding: 0;
  background-color: #93ffeb;
}

.stack-on-small {
  margin-top: 1rem; /* Adjust the spacing as needed */
}